body {
	font-family: "Roboto", Arial, sans-serif;

}

header {
	width: 80%;
	margin: 0 auto;
}

section {
	padding: 0 10%;
}

h4 span {
	float: right;
}

.expandable {
	display: none;
}

.expandable nav a.current {
	color: #ffffff;
}

.expandable .slides div {
	display: none;
}

.expandable .slides div.current {
	display: block;
}

#mti {
	background-color: red;
}

#theatre {
	background-color: yellow;
}

#other {
	background-color: blue;
}

body.theme1 {
	font-family: Arial;
}

body.theme1 #mti {
	background-color: purple;
}

body.theme1 #theatre {
	background-color: green;
}

body.theme1 #other {
	background-color: pink;
}

/*Tzip: need to create themes for the resume divs, what changes per section 
f the portfolio page, and create said value/attributes in the css, finish the 
layout of the resume page and start layout of homepage*/

