body.theme0 #mti {
	background-color: #ffffff;
}

body.theme0 #theatre {
	background-color: #ffffff;
}

body.theme0 .next {
	clear: both;
	display: block;
	text-align: right;
	padding-top: 2em;
}

body.theme0 {
	color: #000000;
	/*background-color: #f3f3f3;*/
}

body.theme0 .expandable .slides .slides-inner {
	margin: 0 2em 2em;
}

body.theme0 #mti .expandable nav {
	float: right;
	margin: 2em 0;
}

body.theme0 h3 {
	font-weight: 400;
	color: #b0b0b0;
}

body.theme0 h4 {
	font-weight: 400;
}

body.theme0 h5 {
	font-weight: 900;
	margin: 2em 0;
}

body.theme0 p {
	font-weight: 300;
	font-size: .75em;
	padding-bottom: 2em;
}

body.theme0 .slides-inner img {
	display: block;
	float: left;
	width: 25%;
/*	margin-right: 2%;
*/}

body.theme0 .slides-inner img:last-of-type {
/*	margin-right: 0;*/
}

body.theme0 #mti {
	background-color: #ffffff;
	border-bottom: #000000 1px solid;
}

body.theme0 #theatre {
	background-color: #ffffff;
	border-bottom: #000000 1px solid;
}

body.theme0 #theatre .expandable nav {
	float: left;
	width: 30%;
}

body.theme0 #theatre .expandable nav a {
	display: block;
	text-align: left;
	/*padding: 2em 0;*/
	font-weight: 700;
	font-style: normal;
}

body.theme0 #theatre .expandable .slides {
	float: right;
	width: 65%;
}





/*.bg {
  color: inherit;
}

.magenta {
  color: #ff00ff;
}

.magenta.bg {
  background-color: #ff00ff;
}*/


