

/*SECTION THEMES - */

/*FIRST PROFESSIONAL THEME*/

section.theme1 {
	background-color: #f3f3f3;
	color: #000000;
}

body.theme1 {
	color: #000000;
	/*background-color: #f3f3f3;*/
}

body.theme1 .expandable .slides .slides-inner {
	margin: 0 2em 2em;
}

body.theme1 .expandable nav {
	float: right;
	margin: 2em 0;
}

body.theme1 h3 {
	font-weight: 400;
	color: #b0b0b0;
}

body.theme1 h4 {
	font-weight: 400;
}

body.theme1 h5 {
	display: inline-block;
	font-weight: 900;
	margin: 2em 0;
}

body.theme1 p {
	font-weight: 300;
	font-size: .75em;
	padding-bottom: 2em;
}

body.theme1 .slides-inner img {
	display: block;
	float: left;
	width: 25%;
/*	margin-right: 2%;
*/}

body.theme1 .slides-inner img:last-of-type {
/*	margin-right: 0;*/
}

body.theme1 #mti {
	background-color: #f3f3f3;
}

body.theme1 #theatre {
	background-color: #e5e4e4;
}


