
/*SECTION THEMES - */

/*drunk THEME*/

section.theme2 {
	font-family: "effra", Arial, sans-serif;
	font-weight: 900;
	background-color: white;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 20em;
	background-image: url("../img/Leo_eyes.png");
	color: #bfbfbf;

}

body.theme2 {
	font-family: "effra", Arial, sans-serif;
	background-color: #ffffff;
	font-size: 24px;
	line-height: 1.4;
}

body.theme2 .expandable .slides .slides-inner {
	margin: 0 2em 2em;
}

body.theme2 .expandable nav {
	float: right;
	margin: 2em 0;
}

body.theme2 h3 {
	font-weight: 900;
	color: #b0b0b0;
}

body.theme2 h4 {
	font-weight: 900;
}

body.theme2 h5 {
	font-weight: 900;
	margin: 2em 0;
}

body.theme2 p {
	font-weight: 300;
	font-size: .75em;
	padding-bottom: 2em;
}

body.theme2 .slides-inner img {
	display: block;
	float: left;
	width: 25%;
/*	margin-right: 2%;
*/}

body.theme2 .slides-inner img:last-of-type {
/*	margin-right: 0;*/
}

body.theme2 #mti {
	background-color: #f3f3f3;
}

body.theme2 #theatre {
	background-color: #e5e4e4;
}

body {
  background-color: #ccc;
}

#next, #prev {
  position: absolute;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

#next {
  top: 50%;
  right: -80px;
}

#prev {
  top: 50%;
  left: -80px;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #fff;
  overflow: hidden;
  margin: 50px auto;
}

#slides {
  position: absolute;
  left: 0;
  width: 300%;
  height: 600px;
}

.slide {
  width: 33.333%;
  height: 600px;
  line-height: 600px;
  text-align: center;
  font-size: 80px;
  float: left;
  position: relative;
}

.slide img {
	height: 100%;
	float: left;
}

.slide h3 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 10vw;
}

.halves span {
	width: 25%;
	font-size: 8vw;
}

.thirds span {
	width: 17.5%;
	font-size: 8vw;

}

.fourths span {
	width: 12.5%;
	font-size: 6vw;

}

.slide h3 span {
	display: inline-block;
}




