
/*SECTION THEMES - */

/*drunk THEME*/

section.theme2 {
	font-family: "effra", Arial, sans-serif;
	font-weight: 900;
	background-color: white;

	color: #bfbfbf;

}

section.theme2.leo {
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 20em;
	background-image: url("../img/Leo_eyes.png");
}


#next, #prev {
  position: absolute;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

#next {
  top: 50%;
  right: -80px;
}

#prev {
  top: 50%;
  left: -80px;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #fff;
  overflow: hidden;
  margin: 50px auto;
}

#slides {
  position: absolute;
  left: 0;
  width: 300%;
  height: 600px;
}

.slide {
  width: 33.333%;
  height: 600px;
  text-align: center;
  font-size: 80px;
  float: left;
  position: relative;
}

.slide img {
	height: 100%;
	float: left;
}

.slide h3 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 33%;
	left: 0;
	font-size: 10vw;
	color: #ffffff;
}

.halves span {
	width: 25%;
	font-size: 8vw;
}

.thirds span {
	width: 17.5%;
	font-size: 8vw;

}

.fourths span {
	width: 12.5%;
	font-size: 6vw;

}

.slide h3 span {
	display: inline-block;
}






