

/*SECTION THEMES - */

/*Green THEME*/

section.theme5 {
	background-color: #25fe01;
	color: #ccff02;
}

body.theme5 {
	color: #000000;
	/*background-color: #f3f3f3;*/
}

body.theme5 .expandable .slides .slides-inner {
	margin: 0 2em 2em;
}

body.theme5 .expandable nav {
	float: right;
	margin: 2em 0;
}

body.theme5 h3 {
	font-weight: 400;
	color: #b0b0b0;
}

body.theme5 h4 {
	font-weight: 400;
}

body.theme5 h5 {
	font-weight: 900;
	margin: 2em 0;
}

body.theme5 p {
	font-weight: 300;
	font-size: .75em;
	padding-bottom: 2em;
}

body.theme5 .slides-inner img {
	display: block;
	float: left;
	width: 25%;
/*	margin-right: 2%;
*/}

body.theme5 .slides-inner img:last-of-type {
/*	margin-right: 0;*/
}

body.theme5 #mti {
	background-color: #f3f3f3;
}

body.theme5 #theatre {
	background-color: #e5e4e4;
}


