

/*SECTION THEMES - */

/*Glitter give-up THEME*/

section.theme4 {
	background-size: 100%;
	background-image: url("../img/Shrek_background_4C.png");
	color: #ffffff;

}

body.theme4 {
	color: #000000;
	/*background-color: #f3f3f3;*/
}

body.theme4 .expandable .slides .slides-inner {
	margin: 0 2em 2em;
}

body.theme4 .expandable nav {
	float: right;
	margin: 2em 0;
}

body.theme4 h3 {
	font-weight: 400;
	color: #b0b0b0;
}

body.theme4 h4 {
	font-weight: 400;
}

body.theme4 h5 {
	font-weight: 900;
	margin: 2em 0;
}

body.theme4 p {
	font-weight: 300;
	font-size: .75em;
	padding-bottom: 2em;
}

body.theme4 .slides-inner img {
	display: block;
	float: left;
	width: 25%;
/*	margin-right: 2%;
*/}

body.theme4 .slides-inner img:last-of-type {
/*	margin-right: 0;*/
}

body.theme4 #mti {
	background-color: #f3f3f3;
}

body.theme4 #theatre {
	background-color: #e5e4e4;
}


